.details-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 600px;
}

.details-container img {
    width: 550px;
    margin-left: 70px;
}

.back-button {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 4px 2px rgb(216, 209, 209);
    margin-top: 85px;
    margin-left: 70px;
    font-size: 15px;
    color: #333;
}

.back-button img { 
    height: 20px;
    margin-right: 10px;
}

.details-info {
    padding: 100px;
    list-style: none;
}

.details-info h1 {
    color: #333;
    padding-left: 40px;

}

.list-features {
    display: flex;   
}

.list-features ul li {
    margin-right: 30px;
    margin-bottom: 10px;
    list-style: none;
}

.border-container {
    display: flex;
    padding-left: 40px;
}

.border-container ul {
    display: flex;
}

.border-container h4 {
    color: #333;
    font-size: 15px;
}

.border-countries {    
    display: flex; 
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px rgb(216, 209, 209);
    height: 30px;
    width: 100px;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: #666;
    font-size: 14px;
}